{{>default/header}}

  <body>

    <!-- Navigation -->
    {{>default/topNav}}

    <!-- Page Content -->
    <div class="container">

      {{{body}}}
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{>default/footer}}
